<% user_feel = feelable.feel_of(current_user) %>
<%
good_button,good_word,bad_button,bad_word = "","","",""
if user_feel.blank?
  good_word,bad_word = "hide","hide"
elsif user_feel == Feeling::GOOD
  good_button,bad_word = "hide","hide"
elsif user_feel == Feeling::BAD
  good_word,bad_button = "hide","hide"
end
%>

<span class="<%= good_button %>" id="feelable_feel_good_button">
  <%= link_to_remote "" ,:url=>polymorphic_url([feelable,:feeling],:evaluation=>Feeling::GOOD),:success=>"good_click_success_for_feelable()",:method=>:put,:html=>{:class=>'feelgood'} %>
</span>
<span class="<%= good_word %>" id="feelable_feel_good_word">好:)</span>
<span id="feelable_fell_good_count"><%= feelable.count_of_feel_good() %></span>


<span class="<%= bad_button %>" id="feelable_feel_bad_button">
  <%= link_to_remote "" ,:url=>polymorphic_url([feelable,:feeling],:evaluation=>Feeling::BAD),:success=>"bad_click_success_for_feelable()",:method=>:put,:html=>{:class=>'feelbad'} %>
</span>
<span class="<%= bad_word %>" id="feelable_feel_bad_word">差:(</span>
<span id="feelable_fell_bad_count"><%= feelable.count_of_feel_bad() %></span>

<% content_for :javascripts do %>
  <script type="text/javascript">
    function good_click_success_for_feelable(response){
      handel_by_condition("good");
    }

    function bad_click_success_for_feelable(response){
      handel_by_condition("bad");
    }

    function handel_by_condition(eva){
      var good_button = $("feelable_feel_good_button").classNames().include("hide");
      var bad_button = $("feelable_feel_bad_button").classNames().include("hide");
      var feel_good_count = parseInt($("feelable_fell_good_count").innerHTML);
      var feel_bad_count = parseInt($("feelable_fell_bad_count").innerHTML);
      if( good_button==false && bad_button==false){
        if(eva=="bad"){$("feelable_fell_bad_count").update(feel_bad_count+1);}
        if(eva=="good"){$("feelable_fell_good_count").update(feel_good_count+1);}
      }
      if( (good_button==false && bad_button!=false)||(good_button!=false && bad_button==false)){
        if(eva=="bad"){
          $("feelable_fell_good_count").update(feel_good_count-1);
          $("feelable_fell_bad_count").update(feel_bad_count+1);
        }else{
          $("feelable_fell_good_count").update(feel_good_count+1);
          $("feelable_fell_bad_count").update(feel_bad_count-1);
        }
      }
      if(eva=="bad"){
        $("feelable_feel_good_button").removeClassName("hide");
        $("feelable_feel_good_word").addClassName("hide");
        $("feelable_feel_bad_button").addClassName("hide");
        $("feelable_feel_bad_word").removeClassName("hide");
      }else{
        $("feelable_feel_good_button").addClassName("hide");
        $("feelable_feel_good_word").removeClassName("hide");
        $("feelable_feel_bad_button").removeClassName("hide");
        $("feelable_feel_bad_word").addClassName("hide");
      }
    }
  </script>
<% end %>