.meta
  = render :partial=>"web_sites/parts/metal_web_site",:locals=>{:web_site=>@web_site}
= render :partial=>"/feelings/parts/user_feeling",:locals=>{:feelable=>@web_site}
- tab_panel do
  - tabi "评论" do
    - mplist @web_site.comments,:for=>[@web_site,Comment]
    %div 增加评注
    - mindpin_remote_form_for Comment.new,:url=>web_site_remarks_path,:html=>{:class=>"comment_form"} do |f|
      = hidden_field_tag "from","index"
      = hidden_field_tag "web_site_id",@web_site.id
      = f.hidden_field :reply_to
      = f.text_area :content,:show_label=>false
      = f.submit "提交评论"
  - tabi "简介" do
    = render :partial=>"/introductions/parts/introduction",:locals=>{:introductable=>@web_site}

-content_for :head do
  = stylesheet_link_tag "/stylesheets/views/pagerank.css"
  = stylesheet_link_tag "/stylesheets/views/feelings.css"
